# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
